.dataForm {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgb(204, 219, 38);
}

.idem {
    margin-right: 1em;
}

.dataInput {
    width: 14em;
    margin-top: .3em;
}

.task1 {
    display: flex;
    flex-direction: column;
    margin: .7em .3em;
}

.value {
    margin: 3em auto;
}

.imag {
    margin-bottom: .5em;
}

form {
    margin: auto;
}